.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-template-areas:
    "header header"
    "sidebar main";
  gap: 10px;
  margin: 0 auto;
  width: 1200px;
  padding: 15px;
  height: 100vh;
}

.header {
  grid-area: header;
  background-color: red;
}

.header__logo {
  width: 60px;
  height: 60px;
}

.sidebar {
  grid-area: sidebar;
  background-color: darksalmon;
}

.main {
  grid-area: main;
  background-color: green;
}

.intro  img {
  width: 100%;
  height: auto;
}